.button {

    &__primary {
        color: $primary-button-text;
        background: $primary-button-bg;
        border: 1px solid $primary-button-bg;
        box-shadow: 0px 20px 40px rgba(233, 90, 67, 0.25);
    }

    &__secondary {
        border: 1px solid $secondary-button-bg;
        background: $secondary-button-bg;
    }
}