@import "../settings/main";

/* ==========================================================================
   Base styles
   ========================================================================== */
/* stylelint-disable selector-max-universal  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* stylelint-enable selector-max-universal */

html {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  letter-spacing: $main-letter-spacing;
  color: $main-text-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body {
  margin: 0;
  position: relative;
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

img {
  height: auto;
}

textarea {
  resize: vertical;
}

button, a,
input[type="submit"] {
  cursor: pointer;
}

button,
input {
  border-radius: 5px;
  padding: 10px;
}

input {
  border: 1px solid $c-white;
}

a {
  text-decoration: none;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 700;
  margin: 0;
}

p {
  padding: 0;
    &:last-child {
    margin-bottom: 0;
  }
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none; 
}
