section.section
    .section__header
        .container
            h2.section__title наши гарантии
            span.section__subtitle Мы не просто предлагаем слуги, мы гарантируем их результат и качество
    .section__content
        .assurance
            .container
                .row
                    .col-4
                        .assurance__item  
                            h3.assurance__title Законность
                            p.assurance__text Каждый шаг подтвергается проверке на предмет законности. Мы руководствуемся принципом абсолютной законности предпримимых действий
                    .col-4
                        .assurance__item  
                            h3.assurance__title Ответственность
                            p.assurance__text Предпринимая действия мы несем ответственность, которая застрахована согласно законку на 10 000 000 рублей. А также ответственность несет СРО в размере 50 000 000 руб.
                    .col-4
                        .assurance__item  
                            h3.assurance__title 15 лет опыта
                            p.assurance__text Многолетний опыт работы в сфере юридических услуг гарантирует вам квалифицированную помощь, оказанную  сотням клиентам