section.section
    .section__header.section__header--secondary
        .container
            h2.section__title признание банкротства поможет вам
    .section__content
        .benefit
            .container
                .row
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/cash.svg")
                            span.benefit__text Перестать быть должником
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/calc.svg")
                            span.benefit__text Оставить начисление процентов
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/percent.svg")
                            span.benefit__text Списать долги
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/law.svg")
                            span.benefit__text Приостановить судебные процесс