article.section
    .section__header
        .container
            h2.section__title документы
            span.section__subtitle Наша деятельность полностью законна
    .section__content
        .documents
            .container
                .row
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/1.jpg")
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/2.jpg")
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/3.jpg")
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/4.jpg")
                                