article.section
    .section__header
        .container
            h2.section__title истории клиентов
            span.section__subtitle Успешно прошедших процедуру банкротства вместе с нами
    .section__content
        .container
            .row
                .col-10
                    .feedback
                        section.feedback__item
                            img(src="#", alt="feedback").feedback__image
                            .feedback__content  
                                p.feedback__title Сергей Иванов
                                span.feedback__small 65 лет
                                .feedback__row Списанная сумма долга: 300 000 руб
                                .feedback__row Стоимость банкротства: 30 000 руб
                                .feedback__text Proactively repurpose resource sucking alignments rather than out-of-the-box web services. Compellingly scale interoperable users for open-source best practices. Professionally engineer empowered platforms after innovative leadership skills. Professionally engineer magnetic ideas through principle-centered testing procedures. Seamlessly engineer resource maximizing value for world-class users.
                                button.button.button__primary Читать решение суда
                                