section.section.section--form
    .section__header.section__header--secondary
        .container
            h2.section__title запросить консультацию
            span.section__subtitle Начните разбираться с долгами уже сегодня
    .section__content
        .container
            form.form(action="./smart.php" method="POST")
                input.form__input(type="text" name="name" placeholder="Ваше имя")
                input.form__input(required type="tel" name="phone" placeholder="Ваш телефон")
                button.button.button__secondary(type="submit") Запросить консультацию