header.header
    .container
        .row
            .col-12.header__top
                .branding
                    a.branding__link(href="#")
                        p.branding__text
                            span.branding__name “АРМА”<br> 
                            span.branding__text центр финансового<br>
                            span.branding__text оздоровления и банкротствa
                .phones
                    span.phones__item(itemprop="telephone") +7 (3812) 511−634
                    span.phones__item(itemprop="telephone") +7 (3812) 511−634
                button.button.button__primary(href="#") Запишись на консультацию
    .header__bottom
        .container 
            .row
                .col-12
                    nav.nav
                        a.nav__link(href="#") О нас   
                        a.nav__link(href="#") Услуги   
                        a.nav__link(href="#") Гарантии  
                        a.nav__link(href="#") Отзывы  
                        a.nav__link(href="#") Контакты

