section.section.section--legal
    .section__header
        .container
            h2.section__title банкротство абсолютно законно
            span.section__subtitle Любой гражданин Российской Федерации с 2015 года имеет право признать себя банкротом в соответсвии с законом №127 ФЗ “О несостоятельности (банкротстве)”
    .section__content
        .container
            .row
                .col-6
                    .card
                        h3.card__title Банкротство юридических
                        ul.card__list
                            li.card__list-item Совокупная задолженность более 300 000 рублей
                            li.card__list-item Просрочка платежей более 3 месяцев
                            li.card__list-item Еще какой-то текст, который я не разобрал, но он длинный
                .col-6
                    .card
                        h3.card__title Банкротство физических лиц
                        ul.card__list
                            li.card__list-item Просрочка выплат более 90 дней
                            li.card__list-item Задолженность более 400 000 рублей
            .row
                .col-12.download
                    a.download__link(href="http://") Скачать №127 ФЗ «О несостоятельности (банкротстве)»
