section.main
    .container
        .row
            .col-6
                .main__content
                    h1.main__title Избавим вас от долгов
                    span.main__subtitle Процесс банкротства с гарантией успеха
                    ul.main__list
                        li.main__list-item Остановим начисление процентов и прекратим удержания
                        li.main__list-item Избавим от финансового преследования
                        li.main__list-item Перестанут действовать обременения (аресты)
