section.section.section--process
    .section__header
        .container
            h2.section__title процесс банкротства
            span.section__subtitle Узнайте 6 главных шагов, которые приведут Вас к финансовой независимости
    .section__content
        .container
            ul.process
                .row
                    .col-4
                        li.process__item
                            h3.process__title Сбор документов
                            p.process__text Перед подачей заявления на банкротство в обязательном порядке неодходимо собрать документы, список которых утвержден законом      
                    .col-4
                        li.process__item
                            h3.process__title Составление и подача заявления
                            p.process__text Правильно составленное заявление о банкротстве, с учетом последних изменений закона на 2018 г. - 50% успеха!
                    .col-4
                        li.process__item
                            h3.process__title Рассмотрение в арбитражном суде
                            p.process__text На первом слушании арбитражный суд рассматривает вопрос о начале процедуры.
                .row
                    .col-4
                        li.process__item
                            h3.process__title Признание банкротом
                            p.procces__text После рассмотрения заявления, арбитраж решает принять гражданина банкротом и выносит решение о запуске процедуры
                    .col-4
                        li.process__item
                            h3.process__title Сдача дела в суд
                            p.procces__text По итогу банкротства физического лица арбитражный  управляющий сдает суду отчет о своей работе и ходатайствует об окончании процесса
                    .col-4
                        li.process__item
                            h3.process__title Решение о списании всех долгов
                            p.procces__text Результатом процедуры банкротства является решение суда, устанавливающее освобождение гражданина от любых финансовых
                    