section.section
    .section__header
        .container
            h2.section__title часто задаваемые вопросы
            span.section__subtitle Ответы на популярные вопросы по банкротству
    .section__content
        .container
            .questions
                .row
                    .col-10
                        ul.questions__list
                            li.questions__item
                                h4.questions__item-title Что значит объявить своё банкротство?
                                p.questions__item-text Объявить банкротство – доказать собственную финансовую несостоятельность и невозможность выполнить свои долговые обязательства.
                            li.questions__item
                                h4.questions__item-title Кто может стать банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.questions__item-title Можно ли признать себя банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.questions__item-title Кто объявляет должника банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.questions__item-title Как стать банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.accordion__item-title Что будет после банкротства?
                                p.accordion__item-text
                            li.questions__item
                                h4.questions__item-title Какие последствия?
                                p.questions__item-text