script(src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript")
script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")