/* Mixins */

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  border: none;
  background: none;
  padding: 0;
}

@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin text-hide {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

@mixin element-cover {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
}

@mixin element-100 {
  width: 100%;
  height: 100%;
}

@mixin element-absolute-100 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}


@mixin number-item {
  &:before {
    content: counter(onepage, decimal-leading-zero);
    position: absolute;
    top: -30px;
    left: 15px;
    font-size: 18px;
    padding: 0 10px 0 0;
    color: $tertiary-text-color;
    counter-increment: onepage;
    border-bottom:1px solid #e6f4fd;
  }
}
