doctype html
html(lang="en")
    include ../components/head.pug
    body
        include ../components/header.pug
        include ../components/main.pug
        include ../components/legal.pug
        include ../components/process.pug
        include ../components/about.pug
        include ../components/benefit.pug
        include ../components/assurance.pug
        include ../components/form-first.pug
        include ../components/questions.pug
        include ../components/documents.pug
        include ../components/feedback.pug
        include ../components/form-secondary.pug
        include ../components/footer.pug
    include ../components/scripts.pug


