.benefit {
    text-align: center;

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        margin-bottom: 50px;
    }

    &__text {
        font-size: 16px;
    }
}