.card {
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 40px 40px rgba(0, 0, 0, 0.1);


    &__title {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    &__list-item {
        list-style: inherit;
        margin-bottom: 20px;
    }
}