.download {
    margin-top: 60px;
    text-align: center;

    &__link {
        font-size: 18px;
        font-weight: bold;
        color: $c-red;
        padding-bottom: 5px;

        &:hover {
            text-decoration: underline;
        }
    }
}