.header {
    box-shadow: 0px 30px 40px rgba(30, 162, 232, 0.1);
    
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 15px 0;
    }

    &__bottom {
        border-top: 1px solid rgba(30, 162, 232, 0.1);
        border-bottom: 1px solid rgba(30, 162, 232, 0.1);
    }
}