.main {
    margin-bottom: 100px;
    background: url("../images/main-bg.svg") no-repeat 0 130px;
    background-size: contain;
    box-shadow: 0px 30px 40px rgba(30, 162, 232, 0.1);
    
    &__title, 
    &__subtitle {
        color: $c-blue-dark;
    }

    &__title {
        font-size: 4rem;
        line-height: initial;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 600;
    }

    &__content {
        padding: 100px 0 0 0;
    }

    &__list-item {
        margin-top: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: -20px;
            top: 10%;
            height: 10px;
            width: 10px;
            background: url("../images/checked.svg") no-repeat;
            background-size: cover;
        }
    }

    .col-6 {
        margin-left: auto;
    }
}