.process {
    counter-reset: onepage;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @include number-item();
    }

    &__title {
        font-size: 17px;
        margin-bottom: 20px;
        color: $tertiary-text-color;
    }

    .row:first-of-type {
        margin-bottom: 70px;
    }
}