.questions {
    .col-10 {
        margin: auto;
        text-align: center;
    }

    &__list {
        padding: 20px 0;
        background: #e6f4fd;
        border-radius: 5px;
    }

    &__item-title {
        padding: 20px 0;
    }

    &__item-text {
        background: $c-white;
        padding: 20px 0;
        margin: 0;
    }
}