.section {

    &__header {
        background: $main-background;
        text-align: center;
        color: $secondary-text-color;
        padding: 30px 0;
    }

    &__header--secondary {
        background: $secondary-background;
    }

    &__title {
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 16px;
    }

    &__content {
        padding: 100px 0 70px 0;
    }

    &--about,
    &--form {
        margin-bottom: 100px;
    }

    &--form {
        background: $secondary-background;

        .section__content {
            padding-top: 70px;
        }
    }
}