/* Colors */
$c-white: #fff;
$c-black: #000;
$c-blue: #3cb3c9;
$c-red: #e95e43;
$c-blue-dark: #1b263b;

/* Fonts */
$f-montserrat: 'Montserrat', sans-serif;

/*  Base variables */
$main-font: $f-montserrat;
$main-font-size: 14px;
$main-line-height: 1.5;
$main-letter-spacing: 0.2em;
$heading-font: $f-montserrat;
$heading-line-height: 1.5;
$main-text-color: $c-black;
$secondary-text-color: $c-white;
$tertiary-text-color: $c-blue;
$main-heading-color: $c-blue-dark;
$branding-color: $c-blue-dark;
$main-phones-color: $c-blue;
$primary-button-bg: $c-red;
$primary-button-text: $c-white;
$secondary-button-bg: $c-white;
$main-background: $c-blue;
$secondary-background: $c-red;
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

/* Media variables */

